:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'DM Sans'
}
.ant-menu-item-selected {
  border-right: 4px solid #4318FF; /* Adjust color and thickness */
  background: none !important; /* Ensure background doesn't change */
  border-radius: 0px !important;
  
  .ant-menu-title-content{
    color: #2B3674 !important;
    font-weight: 700px;
  }
}
.ant-menu-title-content{
  padding-left: 10px;
  padding-top: 2px;
  color: #A3AED0 !important;
  font-weight: 500px;
  font-size: 16px;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.ant-select-selector{
  background-color: #DEE2EC !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
